# From .gitignore_global
*.iml
*.class
*~
~$*

# Eclipse
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.buildpath
.classpath
.project

# JetBrains IDEs
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
cmake-build-*/
out/

# LaTeX
*.aux
*.synctex.gz
*.out
*.log
*.lof
*.lot
*.fls
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
### BibTex
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Microsoft Office
*.tmp
~$*.doc*
Backup of *.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Windows OS
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

.idea/
